<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<h2>prestamos del usuario</h2>


<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fecha %></td>
        <td><%= prestamo.estado %></td>
      </tr>
    <% end %>
  </tbody>
</table>